<!DOCTYPE>

<html>
<head>

        <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <h1>List of articles</h1>

  <!--loop, ta element se bo zrisal tolikokrat, koliko je elementov noter -->

  <% for(var i=0;i<articles.length;i++){ %>

    <div class="article-container">
        <h3><%- articles[i].title %></h3>
        <p><%- articles[i].content %></p>
    </div>
    <hr/>

    <% } %>
</body>
</html>

