
<section class="content-header">
    <h1>Articles</h1>
    <br/>
    <div class="btn btn-primary btn-xs" ui-sref="new-article">Create new</div><br/>   <!--z UI-SREF navigiramo na partial NEW ARTICLES -->
</section>
<!--TUKAJ SE DELAJO TABELE, FORME -->
<section class="content">


    <table class="table">

        <thead>
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Action</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="article in articles">      <!--articles se navezuje na articles v controller-ju -->
                <td>{{article.title}}</td>
                <td>{{article.dateCreated | date:'dd.MM.yyyy, hh:mm:ss'}}</td>
                <td>
                    <div class="btn btn-xs btn-danger" ng-click="onDeleteClick(article._id)">Delete</div>
                    <div ui-sref="edit-article({id:article._id})" class="btn btn-xs btn-primary">Edit</div>   <!-- prvi  id:article.id       se nanasa na id v app.js:      url: '/edit-article/:id' -->
                </td>
            </tr>
        </tbody>

    </table>

</section>
